<h1>Mostrando  autores</h1>

<table id='tabla_autores' class="display" data-source="<%= autores_url(format: "json") %>">
  <thead>
    <tr>
		<th>sales_org</th>
		<th>vendor</th>
		<th>first_name</th>
		<th>last_name</th>
		<th>email</th>
		<th>telephone</th>
		<th>tax_number</th>
		<th>tax_type</th>
		<th>status</th>
		<th>idsap</th>
		<th>ext_email</th>
		<th>ext_heredero</th>
		<th>ext_telefono</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Autor', new_autor_path %>
